{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">{% block title %}Log In{% endblock %}</h1>

<div class="d-flex flex-row justify-content-center">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="d-flex justify-content-center">
    <form method="post">
        <div class="d-flex flex-column justify-content-center">
            <label for="email">Email</label>
            <input id="email" type="email" name="email" value={{request.form["email"]}}>
        </div>
        <div class="d-flex flex-column justify-content-center">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" value={{request.form["password"]}}>
        </div>
        <br>
        <div class="d-flex flex-column justify-content-center">
            <label for="submit"></label>
            <button class="btn btn-primary btn-block" id="submit" type="submit">Log In</button>
        </div>
        <br>
        <div class="d-flex flex-column justify-content-center">
            <a class="btn btn-light btn-block" type="button" href="/create_user">Create User</a>
        </div>
    </form>
</div>
{% endblock %}