{% extends 'base.html' %}
{% block content %}
<h1 class="text-center">{% block title %}Create User{% endblock %}</h1>
<div class="d-flex flex-row justify-content-center">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
{% if qr_code %}
<div class="d-flex flex-column justify-content-center">
    <div class="d-flex justify-content-center">
        <img src="data:image/png;base64,{{ qr_code.decode('utf-8') }}" alt="2FA QR Code">
    </div>
    <div class="d-flex justify-content-center">
        <a class="btn btn-light btn-block" type="button" href="/">Log in Page</a>
    </div>
</div>
{% else %}
<div class="d-flex justify-content-center">
    <form method="post">
        <div class="d-flex flex-column justify-content-center">
            <label for="email">Email</label>
            <input id="email" type="email" name="email">
        </div>
        <div class="d-flex flex-column justify-content-center">
            <label for="password">Password</label>
            <input
                    id="password"
                    type="password"
                    name="password"
                    minlength="12"
                    maxlength="56"
                    pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{12,}"
            >
            <p class="text-muted small">
                Must contain at least;<br>
                one uppercase letter <br>
                one lower case letter <br>
                one digit <br>
                one special character
            </p>
        </div>
        <br>
        <div class="d-flex flex-column justify-content-center">
            <label for="submit"></label>
            <button class="btn btn-primary btn-block" id="submit" type="submit">Create User</button>
        </div>
        <br>
        <div class="d-flex flex-column justify-content-center">
            <a class="btn btn-light btn-block" type="button" href="/">Log in Page</a>
        </div>
    </form>

</div>
{% endif %}


{% endblock %}